<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>PluginType</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>APLF</key>
				<false/>
				<key>CStates</key>
				<false/>
			</dict>
			<key>NoOemTableId</key>
			<false/>
			<key>DropOem</key>
			<false/>
			<key>UseSystemIO</key>
			<false/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>#MCFG</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>xh_rvp10</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
		</array>
		<key>Comment-DisabledAML</key>
		<string>Disable other forms of CPU PM due to SSDT/Generate/PluginType=true</string>
		<key>PatchAPIC</key>
		<true/>
		<key>DisableASPM</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>oAqTU1RBUwE=</data>
					<key>Replace</key>
					<data>oAqRCv8L//8=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>RTC Fix</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>MTdQWFNYFDNf</data>
					<key>Replace</key>
					<data>MTdQWFNYFDNY</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>SSDT-TYPC</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>_DSM to XDSM</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SF9FQw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change H_EC to EC</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1BUUwE=</data>
					<key>Replace</key>
					<data>WlBUUwE=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(_PTS,1,N) to ZPTS, pair with SSDT-PTSWAK.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1dBSwE=</data>
					<key>Replace</key>
					<data>WldBSwE=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(_WAK,1,N) to ZWAK, pair with SSDT-PTSWAK.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1NUQQ==</data>
					<key>Replace</key>
					<data>WFNUQQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _STA to XSTA, for VoodooI2C</string>
					<key>TgtBridge</key>
					<data>R1BJMA==</data>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>FixHPET</key>
				<true/>
				<key>FixHDA</key>
				<false/>
				<key>FixRTC</key>
				<false/>
				<key>FixTMR</key>
				<false/>
				<key>FixUSB</key>
				<false/>
				<key>AddPNLF</key>
				<false/>
				<key>FixIPIC</key>
				<false/>
				<key>Comment-IRQ Fix</key>
				<string>The following fixes may be needed for onboard audio/USB/etc</string>
			</dict>
			<key>DropOEM_DSM</key>
			<false/>
		</dict>
		<key>AutoMerge</key>
		<true/>
		<key>FixHeaders</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>DefaultVolume</key>
		<string>Default Boot Volume</string>
		<key>NeverHibernate</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Arguments</key>
		<string>-cdfon igfxcflbklt=1 -v dart=0 debug=0x100</string>
		<key>XMPDetection</key>
		<string>Yes</string>
		<key>Timeout</key>
		<integer>2</integer>
		<key>#DefaultVolume</key>
		<string>LastBootedVolume</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Theme</key>
		<string>clover-theme-minimal</string>
		<key>#ScreenResolution</key>
		<string>1920x1080</string>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
		<key>Scan</key>
		<dict>
			<key>Tool</key>
			<true/>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>FakeID</key>
		<dict>
			<key>#IntelGFX</key>
			<string>0x59168086</string>
			<key>#Kaby Lake-Comment</key>
			<string>To avoid automatic Clover fake device-id (Skylake) injection</string>
		</dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0)/Pci(0x02,0)</key>
			<dict>
				<key>## @2 HDMI</key>
				<string></string>
				<key>#framebuffer-con1-flags</key>
				<data>hwEAAA==</data>
				<key>#2 framebuffer-con2-enable</key>
				<integer>1</integer>
				<key>## @0 LVDS-&gt;DP</key>
				<string></string>
				<key>#AAPL,ig-platform-id</key>
				<data>AACbPg==</data>
				<key># DVMT-prealloc</key>
				<string>32MB BIOS, 19MB framebuffer, 9MB cursor bytes (credit RehabMan)</string>
				<key>#framebuffer-con3-pipe</key>
				<data>EgAAAA==</data>
				<key>#framebuffer-fbmem</key>
				<data>AACQAA==</data>
				<key>## @3 HDMI</key>
				<string></string>
				<key>#enable-cfl-backlight-fix </key>
				<data>AQAAAA==</data>
				<key>#framebuffer-con1-type</key>
				<data>AAgAAA==</data>
				<key>#framebuffer-patch-enable</key>
				<integer>1</integer>
				<key>#3 framebuffer-con1-alldata</key>
				<data>/wAAAAEAAAAgAAAA/wAAAAEAAAAgAAAA</data>
				<key># Note1</key>
				<string> no HDMI example in CoffeeLake, flags 86090000 seen in CannonLake?</string>
				<key>#framebuffer-con3-flags</key>
				<data>hwEAAA==</data>
				<key>AAPL,slot-name</key>
				<string>Internal@0,2,0</string>
				<key>#3 no external</key>
				<string>0x3e9b0000, eliminate all external ports (0105 and 0204)</string>
				<key>#framebuffer-con2-pipe</key>
				<data>EgAAAA==</data>
				<key>#hda-gfx</key>
				<string>onboard-1</string>
				<key>#framebuffer-con3-type</key>
				<data>AAgAAA==</data>
				<key>model</key>
				<string>Intel UHD Graphics 630 (Mobile)</string>
				<key>#framebuffer-con1-enable</key>
				<integer>1</integer>
				<key>#framebuffer-con0-enable</key>
				<integer>1</integer>
				<key>#2 framebuffer-con2-alldata</key>
				<data>AwYIAAAEAADHAwAA</data>
				<key>device_type</key>
				<string>VGA compatible controller</string>
				<key>## @1 HDMI</key>
				<string></string>
				<key>#framebuffer-con2-flags</key>
				<data>hwEAAA==</data>
				<key>#AAPL00,override-no-edid</key>
				<data></data>
				<key>#framebuffer-con2-enable</key>
				<integer>1</integer>
				<key>#framebuffer-con0-type</key>
				<data>AAQAAA==</data>
				<key>#3 framebuffer-con1-enable</key>
				<integer>1</integer>
				<key>#2 0204-&gt;0306</key>
				<string>0x3e9b0000, 0306 instead of 0204, HDMI</string>
				<key>#framebuffer-con3-enable</key>
				<integer>1</integer>
				<key>#framebuffer-con1-pipe</key>
				<data>EgAAAA==</data>
				<key>#framebuffer-con2-type</key>
				<data>AAgAAA==</data>
				<key>#framebuffer-stolenmem</key>
				<data>AAAwAQ==</data>
				<key>AAPL,ig-platform-id</key>
				<data>CQClPg==</data>
			</dict>
			<key>PciRoot(0)/Pci(0x1f,3)</key>
			<dict>
				<key>#no-controller-patch</key>
				<integer>1</integer>
				<key>layout-id</key>
				<integer>34</integer>
				<key>#hda-gfx</key>
				<string>onboard-1</string>
				<key>#PinConfigurations</key>
				<data></data>
			</dict>
		</dict>
		<key>Audio</key>
		<dict>
			<key>ResetHDA</key>
			<true/>
			<key>AFGLowPowerState</key>
			<true/>
			<key>Inject</key>
			<string>NO</string>
		</dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<false/>
			<key>AddClockID</key>
			<false/>
			<key>NameEH00</key>
			<false/>
			<key>Inject</key>
			<true/>
			<key>HighCurrent</key>
			<true/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>#EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>#ig-platform-id</key>
		<string>0x3e9b0000</string>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
		</array>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>g/sPDw==</data>
				<key>Name</key>
				<string>com.apple.iokit.IOUSBHostFamily</string>
				<key>Replace</key>
				<data>g/s/Dw==</data>
				<key>Disabled</key>
				<false/>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>g/kPDw==</data>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>g/k/Dw==</data>
				<key>Disabled</key>
				<false/>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
		</array>
		<key>PanicNoKextDump</key>
		<true/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>ILniAAAADzA=</data>
				<key>Replace</key>
				<data>ILniAAAAkJA=</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
			</dict>
		</array>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>AppleIntelCPUPM</key>
		<false/>
		<key>KernelLapic</key>
		<false/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>Version</key>
		<string>1.0</string>
		<key>ProductName</key>
		<string>MacBookPro15,2</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
	<key>Comment</key>
	<string>This file is for 10.14.x with native CoffeeLake support</string>
</dict>
</plist>